<div class="min-h-screen bg-base-200 flex items-center justify-center p-4">
  <div class="card w-full max-w-lg bg-base-100 shadow-xl">
    <div class="card-body p-8">
      <div class="text-center mb-8">
        <h2 class="text-5xl font-black text-base-content flex gap-1 items-baseline justify-center">
          Grupo
          <span class="flex tracking-wider ml-1">
            <span class="text-red-700">1</span><span class="text-green-500">0</span
            ><span class="text-red-700">8</span>
          </span>
        </h2>
        <p class="text-base-content/60 mt-3 text-lg">Ingreso al Sistema de Gestión</p>
      </div>

      @if (errorMsg()) {
        <div class="alert alert-error mb-4 text-base">
          <span>{{ errorMsg() }}</span>
        </div>
      }

      <form [formGroup]="loginForm" (ngSubmit)="ingresar()" class="flex flex-col gap-6">
        <label class="form-control w-full">
          <div class="label pb-2">
            <span class="label-text font-bold text-lg">Correo Electrónico</span>
          </div>
          <input
            type="email"
            formControlName="email"
            class="input input-bordered input-lg w-full focus:input-primary transition-colors text-lg"
            [class.input-error]="campoEsInvalido('email')"
            placeholder="admin@admin.com"
          />
          @if (campoEsInvalido('email')) {
            <div class="label pb-0">
              @if (loginForm.get('email')?.hasError('required')) {
                <span class="label-text-alt text-error font-medium">El correo es obligatorio.</span>
              }
              @if (loginForm.get('email')?.hasError('emailInvalido')) {
                <span class="label-text-alt text-error font-medium"
                  >Formato de correo incorrecto.</span
                >
              }
            </div>
          }
        </label>

        <label class="form-control w-full">
          <div class="label pb-2">
            <span class="label-text font-bold text-lg">Contraseña</span>
          </div>

          <div class="relative w-full">
            <input
              [type]="mostrarPassword() ? 'text' : 'password'"
              formControlName="password"
              class="input input-bordered input-lg w-full focus:input-primary transition-colors text-lg pr-12"
              [class.input-error]="campoEsInvalido('password')"
            />

            <button
              type="button"
              class="absolute inset-y-0 right-0 flex items-center px-4 text-base-content/50 hover:text-base-content transition-colors"
              (click)="togglePassword()"
              tabindex="-1"
            >
              @if (!mostrarPassword()) {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88"
                  />
                </svg>
              }

              @if (mostrarPassword()) {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                </svg>
              }
            </button>
          </div>

          @if (campoEsInvalido('password')) {
            <div class="label pb-0">
              @if (loginForm.get('password')?.hasError('required')) {
                <span class="label-text-alt text-error font-medium"
                  >La contraseña es obligatoria.</span
                >
              }
            </div>
          }
        </label>

        <button
          type="submit"
          class="btn btn-primary btn-lg mt-6 w-full text-xl"
          [disabled]="cargando()"
        >
          @if (cargando()) {
            <span class="loading loading-spinner loading-md"></span>
            Ingresando...
          } @else {
            Iniciar Sesión
          }
        </button>
      </form>
    </div>
  </div>
</div>
